/interproscan-5.24-63.0/
/data_files/
/large_processed_data_files/
.Rproj.user
.Rhistory
.RData
/.RData/
/SLIMFinder/log_dir/
/SLIMFinder/output/
/SLIMFinder_Vidal/log_dir/
/SLIMFinder_Vidal/output/
qslimfinder.log
processed_data_files/QSLIMFinder_instances_h2v_clust20171026.RData
SLIMFinder/QSLIMFinder_instances_h2v.log
SLIMFinder/input.gz
SLIMFinder_Mann/.DS_Store
SLIMFinder/.DS_Store
SLIMFinder/.DS_Store
*.xgmml
processed_data_files/QSLIMFinder_instances_h2v_Full_IntAct_clust201710.RData
.DS_Store
Full_IntAct/input.gz
Full_IntAct2/input.gz
processed_data_files/.DS_Store
processed_data_files/processed_data_files/QSLIMFinder_instances_h2v_qslimfinder.Full_IntAct.FALSE_clust201712.RData
processed_data_files/QSLIMFinder_instances_h2v_qslimfinder.all_viral_interaction.FALSE_clust201712.RData
processed_data_files/QSLIMFinder_instances_h2v_qslimfinder.Full_IntAct.TRUE_clust201801.RData.zip
qslimfinder.Full_IntAct.FALSE/input.gz
qslimfinder.Full_IntAct.FALSE/input.gz
qslimfinder.Full_IntAct.TRUE/input.gz
slimfinder.Vidal.TRUE/result/main_result.txt
qslimfinder.Full_IntAct2.FALSE/input.gz
qslimfinder.Full_IntAct.TRUE/input.gz
qslimfinder.Full_IntAct.FALSE/input.gz
qslimfinder.Full_IntAct3.FALSE/input.gz
processed_data_files/QSLIMFinder_instances_h2v_Full_IntAct2_clust201802.RData
processed_data_files/QSLIMFinder_instances_h2v_qslimfinder.Full_IntAct3.FALSE_clust201802.RData
processed_data_files/QSLIMFinder_instances_h2v_qslimfinder.Vidal3.FALSE_clust201802.RData
processed_data_files/.DS_Store
QSLIMFinder_instances_h2v_qslimfinder.Full_IntAct3.FALSE_clust201802.RData
processed_data_files/Motif_search_strategies_IntAct_Vidal_viral2201804_qslimfinderFull_IntAct3_Vidal3_all_viral_interaction3FALSE.RData
/qslimfinder.Full_IntAct3cloudfixF.FALSE/input.gz
processed_data_files/Motif_search_strategies_IntAct_Vidal_viral2201804_qslimfinderFull_IntAct3cloudfixF_all_viral_interaction3cloudfixF_BioPlex3cloudfixF_randomised_BioPlex3cloudfixF_randomised_all_viral_interaction3cloudfixFFALSE.RData
