/interproscan-5.24-63.0/
/drafts/
/data_files/
/large_processed_data_files/
.Rproj.user
.Rhistory
.RData
/.RData/
/SLIMFinder/log_dir/
/SLIMFinder/output/
/SLIMFinder_Vidal/log_dir/
/SLIMFinder_Vidal/output/
qslimfinder.log
processed_data_files/QSLIMFinder_instances_h2v_clust20171026.RData
SLIMFinder/QSLIMFinder_instances_h2v.log
SLIMFinder/input.gz
SLIMFinder_Mann/.DS_Store
SLIMFinder/.DS_Store
SLIMFinder/.DS_Store
*.xgmml
processed_data_files/QSLIMFinder_instances_h2v_clust201710.RData
